@font-face {
  font-family: 'feather-plus';
  src:
    url('fonts/feather-plus.ttf?28gtd8') format('truetype'),
    url('fonts/feather-plus.woff?28gtd8') format('woff'),
    url('fonts/feather-plus.svg?28gtd8#feather-plus') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fth-"], [class*=" fth-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather-plus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  width: 1.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fth-activity:before {
  content: "\e900";
}
.fth-airplay:before {
  content: "\e901";
}
.fth-alert-circle:before {
  content: "\e902";
}
.fth-alert-octagon:before {
  content: "\e903";
}
.fth-alert-triangle:before {
  content: "\e904";
}
.fth-align-center:before {
  content: "\e905";
}
.fth-align-justify:before {
  content: "\e906";
}
.fth-align-left:before {
  content: "\e907";
}
.fth-align-right:before {
  content: "\e908";
}
.fth-anchor:before {
  content: "\e909";
}
.fth-aperture:before {
  content: "\e90a";
}
.fth-arrow-down:before {
  content: "\e90b";
}
.fth-arrow-down-left:before {
  content: "\e90c";
}
.fth-arrow-down-right:before {
  content: "\e90d";
}
.fth-arrow-left:before {
  content: "\e90e";
}
.fth-arrow-right:before {
  content: "\e90f";
}
.fth-arrow-up:before {
  content: "\e910";
}
.fth-arrow-up-left:before {
  content: "\e911";
}
.fth-arrow-up-right:before {
  content: "\e912";
}
.fth-at-sign:before {
  content: "\e913";
}
.fth-award:before {
  content: "\e914";
}
.fth-bar-chart:before {
  content: "\e915";
}
.fth-bar-chart-2:before {
  content: "\e916";
}
.fth-battery-charging:before {
  content: "\e917";
}
.fth-battery:before {
  content: "\e918";
}
.fth-bell-off:before {
  content: "\e919";
}
.fth-bluetooth:before {
  content: "\e91a";
}
.fth-bold:before {
  content: "\e91b";
}
.fth-book:before {
  content: "\e91c";
}
.fth-bookmark:before {
  content: "\e91d";
}
.fth-box:before {
  content: "\e91e";
}
.fth-briefcase:before {
  content: "\e91f";
}
.fth-bullet-square:before {
  content: "\e920";
}
.fth-bullet:before {
  content: "\e921";
}
.fth-calendar:before {
  content: "\e922";
}
.fth-camera:before {
  content: "\e923";
}
.fth-camera-off:before {
  content: "\e924";
}
.fth-cast:before {
  content: "\e925";
}
.fth-check:before {
  content: "\e926";
}
.fth-check-circle:before {
  content: "\e927";
}
.fth-check-square:before {
  content: "\e928";
}
.fth-chevorns-down:before {
  content: "\e929";
}
.fth-chevron-down:before {
  content: "\e92a";
}
.fth-chevron-left:before {
  content: "\e92b";
}
.fth-chevron-right:before {
  content: "\e92c";
}
.fth-chevron-up:before {
  content: "\e92d";
}
.fth-chevrons-left:before {
  content: "\e92e";
}
.fth-chevrons-right:before {
  content: "\e92f";
}
.fth-chevrons-up:before {
  content: "\e930";
}
.fth-chrome:before {
  content: "\e931";
}
.fth-circle:before {
  content: "\e932";
}
.fth-clipboard:before {
  content: "\e933";
}
.fth-clock:before {
  content: "\e934";
}
.fth-cloud-drizzle:before {
  content: "\e935";
}
.fth-cloud-lightning:before {
  content: "\e936";
}
.fth-cloud:before {
  content: "\e937";
}
.fth-cloud-off:before {
  content: "\e938";
}
.fth-cloud-rain:before {
  content: "\e939";
}
.fth-cloud-snow:before {
  content: "\e93a";
}
.fth-codepen:before {
  content: "\e93b";
}
.fth-command:before {
  content: "\e93c";
}
.fth-comment:before {
  content: "\e93d";
}
.fth-compass:before {
  content: "\e93e";
}
.fth-copy:before {
  content: "\e93f";
}
.fth-corner-down-left:before {
  content: "\e940";
}
.fth-corner-down-right:before {
  content: "\e941";
}
.fth-corner-left-down:before {
  content: "\e942";
}
.fth-corner-left-up:before {
  content: "\e943";
}
.fth-corner-right-down:before {
  content: "\e944";
}
.fth-corner-right-up:before {
  content: "\e945";
}
.fth-corner-up-left:before {
  content: "\e946";
}
.fth-corner-up-right:before {
  content: "\e947";
}
.fth-cpu:before {
  content: "\e948";
}
.fth-credit-card:before {
  content: "\e949";
}
.fth-crosshair:before {
  content: "\e94a";
}
.fth-cube:before {
  content: "\e94b";
}
.fth-delete:before {
  content: "\e94c";
}
.fth-disc:before {
  content: "\e94d";
}
.fth-download:before {
  content: "\e94e";
}
.fth-download-cloud:before {
  content: "\e94f";
}
.fth-droplet:before {
  content: "\e950";
}
.fth-edit-2:before {
  content: "\e951";
}
.fth-edit:before {
  content: "\e952";
}
.fth-edit-3:before {
  content: "\e953";
}
.fth-external-link:before {
  content: "\e954";
}
.fth-eye:before {
  content: "\e955";
}
.fth-eye-off:before {
  content: "\e956";
}
.fth-facebook:before {
  content: "\e957";
}
.fth-fast-forward:before {
  content: "\e958";
}
.fth-feather:before {
  content: "\e959";
}
.fth-file-minus:before {
  content: "\e95a";
}
.fth-file:before {
  content: "\e95b";
}
.fth-file-plus:before {
  content: "\e95c";
}
.fth-file-text:before {
  content: "\e95d";
}
.fth-film:before {
  content: "\e95e";
}
.fth-filter:before {
  content: "\e95f";
}
.fth-flag:before {
  content: "\e960";
}
.fth-folder:before {
  content: "\e961";
}
.fth-github:before {
  content: "\e962";
}
.fth-gitlab:before {
  content: "\e963";
}
.fth-globe:before {
  content: "\e964";
}
.fth-google:before {
  content: "\e965";
}
.fth-grid:before {
  content: "\e966";
}
.fth-hash:before {
  content: "\e967";
}
.fth-headphones:before {
  content: "\e968";
}
.fth-heart:before {
  content: "\e969";
}
.fth-home:before {
  content: "\e96a";
}
.fth-image:before {
  content: "\e96b";
}
.fth-inbox:before {
  content: "\e96c";
}
.fth-info:before {
  content: "\e96d";
}
.fth-instagram:before {
  content: "\e96e";
}
.fth-italic:before {
  content: "\e96f";
}
.fth-key:before {
  content: "\e970";
}
.fth-layers:before {
  content: "\e971";
}
.fth-layout:before {
  content: "\e972";
}
.fth-life-bouy:before {
  content: "\e973";
}
.fth-link:before {
  content: "\e974";
}
.fth-link-2:before {
  content: "\e975";
}
.fth-linkedin:before {
  content: "\e976";
}
.fth-list:before {
  content: "\e977";
}
.fth-loader:before {
  content: "\e978";
}
.fth-lock:before {
  content: "\e979";
}
.fth-log-in:before {
  content: "\e97a";
}
.fth-log-out:before {
  content: "\e97b";
}
.fth-mail:before {
  content: "\e97c";
}
.fth-map:before {
  content: "\e97d";
}
.fth-map-pin:before {
  content: "\e97e";
}
.fth-maximize:before {
  content: "\e97f";
}
.fth-maximize-2:before {
  content: "\e980";
}
.fth-menu:before {
  content: "\e981";
}
.fth-message-circle:before {
  content: "\e982";
}
.fth-message:before {
  content: "\e983";
}
.fth-mic:before {
  content: "\e984";
}
.fth-mic-off:before {
  content: "\e985";
}
.fth-minimize:before {
  content: "\e986";
}
.fth-minimize-2:before {
  content: "\e987";
}
.fth-minus:before {
  content: "\e988";
}
.fth-minus-circle:before {
  content: "\e989";
}
.fth-minus-square:before {
  content: "\e98a";
}
.fth-modules:before {
  content: "\e98b";
}
.fth-monitor:before {
  content: "\e98c";
}
.fth-moon:before {
  content: "\e98d";
}
.fth-more-horizontal:before {
  content: "\e98e";
}
.fth-more-vertical:before {
  content: "\e98f";
}
.fth-move:before {
  content: "\e990";
}
.fth-music:before {
  content: "\e991";
}
.fth-navigation:before {
  content: "\e992";
}
.fth-navigation-2:before {
  content: "\e993";
}
.fth-notification .path1:before {
  content: "\e994";
  color: rgb(0, 0, 0);
}
.fth-notification .path2:before {
  content: "\e995";
  margin-left: -1.00390625em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.fth-octagon:before {
  content: "\e996";
}
.fth-paperclip:before {
  content: "\e997";
}
.fth-pause:before {
  content: "\e998";
}
.fth-pause-circle:before {
  content: "\e999";
}
.fth-percent:before {
  content: "\e99a";
}
.fth-phone-call:before {
  content: "\e99b";
}
.fth-phone-forwarded:before {
  content: "\e99c";
}
.fth-phone-incoming:before {
  content: "\e99d";
}
.fth-phone-missed:before {
  content: "\e99e";
}
.fth-phone:before {
  content: "\e99f";
}
.fth-phone-off:before {
  content: "\e9a0";
}
.fth-phone-outgoing:before {
  content: "\e9a1";
}
.fth-pie-chart:before {
  content: "\e9a2";
}
.fth-play:before {
  content: "\e9a3";
}
.fth-play-circle:before {
  content: "\e9a4";
}
.fth-plus:before {
  content: "\e9a5";
}
.fth-plus-circle:before {
  content: "\e9a6";
}
.fth-plus-square:before {
  content: "\e9a7";
}
.fth-pocket:before {
  content: "\e9a8";
}
.fth-power:before {
  content: "\e9a9";
}
.fth-printer:before {
  content: "\e9aa";
}
.fth-radio:before {
  content: "\e9ab";
}
.fth-refresh-ccw:before {
  content: "\e9ac";
}
.fth-refresh-cw:before {
  content: "\e9ad";
}
.fth-repeat:before {
  content: "\e9ae";
}
.fth-rewind:before {
  content: "\e9af";
}
.fth-rotate-ccw:before {
  content: "\e9b0";
}
.fth-rotate-cw:before {
  content: "\e9b1";
}
.fth-save:before {
  content: "\e9b2";
}
.fth-scissors:before {
  content: "\e9b3";
}
.fth-search:before {
  content: "\e9b4";
}
.fth-send:before {
  content: "\e9b5";
}
.fth-server:before {
  content: "\e9b6";
}
.fth-settings:before {
  content: "\e9b7";
}
.fth-share:before {
  content: "\e9b8";
}
.fth-shield:before {
  content: "\e9b9";
}
.fth-shuffle:before {
  content: "\e9ba";
}
.fth-sidebar:before {
  content: "\e9bb";
}
.fth-skip-back:before {
  content: "\e9bc";
}
.fth-skip-forward:before {
  content: "\e9bd";
}
.fth-slack:before {
  content: "\e9be";
}
.fth-slash:before {
  content: "\e9bf";
}
.fth-sliders:before {
  content: "\e9c0";
}
.fth-smartphone:before {
  content: "\e9c1";
}
.fth-sort:before {
  content: "\e9c2";
}
.fth-speaker:before {
  content: "\e9c3";
}
.fth-square:before {
  content: "\e9c4";
}
.fth-star:before {
  content: "\e9c5";
}
.fth-stop-circle:before {
  content: "\e9c6";
}
.fth-sun:before {
  content: "\e9c7";
}
.fth-sunrise:before {
  content: "\e9c8";
}
.fth-sunset:before {
  content: "\e9c9";
}
.fth-tablet:before {
  content: "\e9ca";
}
.fth-tag:before {
  content: "\e9cb";
}
.fth-target:before {
  content: "\e9cc";
}
.fth-thermometer:before {
  content: "\e9cd";
}
.fth-thumbs-down:before {
  content: "\e9ce";
}
.fth-thumbs-up:before {
  content: "\e9cf";
}
.fth-toggle-left:before {
  content: "\e9d0";
}
.fth-toggle-right:before {
  content: "\e9d1";
}
.fth-trash:before {
  content: "\e9d2";
}
.fth-trash-2:before {
  content: "\e9d3";
}
.fth-trending-down:before {
  content: "\e9d4";
}
.fth-trending-up:before {
  content: "\e9d5";
}
.fth-triangle:before {
  content: "\e9d6";
}
.fth-tv:before {
  content: "\e9d7";
}
.fth-twitter:before {
  content: "\e9d8";
}
.fth-type:before {
  content: "\e9d9";
}
.fth-umbrella:before {
  content: "\e9da";
}
.fth-underline:before {
  content: "\e9db";
}
.fth-unlock:before {
  content: "\e9dc";
}
.fth-upload:before {
  content: "\e9dd";
}
.fth-upload-cloud:before {
  content: "\e9de";
}
.fth-user-check:before {
  content: "\e9df";
}
.fth-user-minus:before {
  content: "\e9e0";
}
.fth-user:before {
  content: "\e9e1";
}
.fth-user-plus:before {
  content: "\e9e2";
}
.fth-users:before {
  content: "\e9e3";
}
.fth-user-x:before {
  content: "\e9e4";
}
.fth-video:before {
  content: "\e9e5";
}
.fth-video-off:before {
  content: "\e9e6";
}
.fth-voicemail:before {
  content: "\e9e7";
}
.fth-volume-1:before {
  content: "\e9e8";
}
.fth-volume-2:before {
  content: "\e9e9";
}
.fth-volume:before {
  content: "\e9ea";
}
.fth-volume-x:before {
  content: "\e9eb";
}
.fth-watch:before {
  content: "\e9ec";
}
.fth-wifi-off:before {
  content: "\e9ed";
}
.fth-wifi:before {
  content: "\e9ee";
}
.fth-wind:before {
  content: "\e9ef";
}
.fth-x:before {
  content: "\e9f0";
}
.fth-x-circle:before {
  content: "\e9f1";
}
.fth-x-square:before {
  content: "\e9f2";
}
.fth-youtube:before {
  content: "\e9f3";
}
.fth-zap:before {
  content: "\e9f4";
}
.fth-zoom-in:before {
  content: "\e9f5";
}
.fth-zoom-out:before {
  content: "\e9f6";
}